html{
    background-color: antiquewhite;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    background-color: rgb(32, 46, 46);
}

header nav {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-right: 0px;
}

header nav a{
    color: rgb(255, 255, 255);
    margin-left: 8px;
    margin-right: 8px;
}

header>h1{
    color: white;
}

div{ 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    background-color: white;  
    box-shadow: 0 2px 5px rgba(0, 0, 0,1); 
    margin-left: 400px; 
    margin-right: 400px; 
    margin-top: 50px; 
    font-size: larger;}

label{
    width: 100px; 
    text-align: center; 
    margin-bottom: 5px; 
    margin-top: 5px;
    text-align: left;  
    margin-top: 150px;}

form{
    width: 100%; 
    text-align: center; 
}

label [type="submit"]{
    text-align: center; 
    margin-bottom: 5px; 
    margin-top: 5px;}

input{
    width: 180px;
}

input[type="checkbox"]{
    width: 20px; 
}

footer{
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0,1); 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
footer>p{
    margin-right: 10px;
}

a[href="privacitat.html"]{margin-right: 50px;}
